# Node.js dependencies
node_modules

# React Router
.react-router

# Build
build

# Development container
.devcontainer

# Environment variables
.env

# Local database
prisma/dev.db
prisma/dev.db-journal
